<%- include('../base/header'); -%>

<title>Create</title>
</head>
<body class="dashboard">
  <div class="navbar-dsk">
    <div class="container">
      <ul id="w-node-b2641bc68ff6-1bc68ff5" role="list" class="flex-container logo">
        <li class="item-parent"><a href="../dashboard/dashboard.html" class="item logo">Night event</a></li>
      </ul>
      <ul id="w-node-b2641bc68ffa-1bc68ff5" role="list" class="flex-container">
        <li class="item-parent"><a href="../dashboard/dashboard.html" class="item other">Dashboard<br></a></li>
        <li class="item-parent"><a href="../dashboard/seasons.html" aria-current="page" class="item other w--current">Seasons<br></a></li>
        <li class="item-parent"><a href="../dashboard/seasons.html" aria-current="page" class="item other w--current">Create<br></a></li>
        <li class="item-parent"><a href="#" class="item other">Settings<br></a></li>
        <li class="item-parent"><a href="#" class="item other">Logout<br></a></li>
        <li class="item-parent"><a href="#" class="item other">Feedback<br></a></li>
      </ul>
    </div>
  </div>
  <main id="w-node-95a5dd05e22f-fb199f06" class="main">
    <h1 class="dashboard-heading">All Seasons</h1>
    <h1 class="child-heading h1 _2">Total Seasons: 4</h1>
    <h1 class="child-heading h1 _2">Click to learn more</h1>
    <div class="button-container"><a href="#" class="button-nav startnow seasons w-button">Create Season</a></div>
    <div style="display:none" class="create-container">
      <div class="wrapper">
        <div class="form-block w-form"><a id="w-node-76c9f3ea606e-fb199f06" href="#" class="button-nav form w-button">x</a>
          <form id="email" name="email-form" method="post" class="form w-node-bed778dd5cf5-fb199f06"><label for="season-name-2" class="field-label">Season Name</label><input type="text" class="input-form w-input" adatautofocus="true" maxlength="256" name="season-name" placeholder="Enter the season name" id="season-name-2" required=""><label for="season-description-2" class="field-label-2">Description (for lookup purpose)</label><input type="text" class="text-field-4 w-input" maxlength="256" name="season-description" placeholder="Enter season descripton" id="season-description-2" required=""><input type="submit" value="Create Season" -wait="Please wait..." class="submit-button-3 login w-button"></form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="seasons-container-phone">
      <div class="content-seasons phone">
        <div class="line phone">
          <div class="child-heading top seasons phone first">Name</div><a id="w-node-f9f82e010de6-fb199f06" href="#" class="child-heading content">Season 2020/2021</a></div>
        <div class="line phone">
          <div class="child-heading top seasons phone">Description</div><a id="w-node-9bf3b07217f5-fb199f06" href="#" class="child-heading content">S2021sdasdas Max: 30 characters</a></div>
        <div class="line phone last">
          <div class="child-heading top seasons phone">Creation Date</div><a id="w-node-3d2338f34137-fb199f06" href="#" class="child-heading content">2020-06-26</a></div>
        <div class="line phone last">
          <div class="child-heading top seasons phone">Status</div><a id="w-node-4ea0583b38d0-fb199f06" href="#" class="child-heading content">Ongoing</a></div>
      </div>
      <div class="content-seasons phone">
        <div class="line phone">
          <div class="child-heading top seasons phone first">Name</div><a id="w-node-90d9ef0b5e91-fb199f06" href="#" class="child-heading content">Season 2020/2021</a></div>
        <div class="line phone">
          <div class="child-heading top seasons phone">Description</div><a id="w-node-90d9ef0b5e96-fb199f06" href="#" class="child-heading content">S2021sdasdas Max: 30 characters</a></div>
        <div class="line phone last">
          <div class="child-heading top seasons phone">Creation Date</div><a id="w-node-90d9ef0b5e9b-fb199f06" href="#" class="child-heading content">2020-06-26</a>
          <div class="child-heading top seasons phone">Status</div><a href="#" class="child-heading content">Finished</a></div>
      </div>
      <div class="content-seasons phone">
        <div class="line phone">
          <div class="child-heading top seasons phone first">Name</div><a id="w-node-bd8ab0fd9f36-fb199f06" href="#" class="child-heading content">Season 2020/2021</a></div>
        <div class="line phone">
          <div class="child-heading top seasons phone">Description</div><a id="w-node-bd8ab0fd9f3b-fb199f06" href="#" class="child-heading content">S2021sdasdas Max: 30 characters</a></div>
        <div class="line phone last">
          <div class="child-heading top seasons phone">Creation Date</div><a id="w-node-bd8ab0fd9f40-fb199f06" href="#" class="child-heading content">2020-06-26</a></div>
        <div class="line phone last">
          <div class="child-heading top seasons phone">Status</div><a id="w-node-2cc3d3ecf317-fb199f06" href="#" class="child-heading content">Finished</a></div>
      </div>
      <div class="content-seasons phone">
        <div class="line phone">
          <div class="child-heading top seasons phone first">Name</div><a id="w-node-3446a3d4446a-fb199f06" href="#" class="child-heading content">Season 2020/2021</a></div>
        <div class="line phone">
          <div class="child-heading top seasons phone">Description</div><a id="w-node-3446a3d4446f-fb199f06" href="#" class="child-heading content">S2021sdasdas Max: 30 characters</a></div>
        <div class="line phone last">
          <div class="child-heading top seasons phone">Creation Date</div><a id="w-node-3446a3d44474-fb199f06" href="#" class="child-heading content">2020-06-26</a></div>
        <div class="line phone last">
          <div class="child-heading top seasons phone">Status</div><a id="w-node-228b0eb71be3-fb199f06" href="#" class="child-heading content">Finished</a>
          <div class="see-more w-container"><a href="#" class="child-heading content see-more">Click to view more</a><a href="#" class="button-nav startnow delete w-button">Delete Season</a>
            <div style="display:none" class="create-container _1">
              <div class="wrapper">
                <div class="form-block w-form"><a id="w-node-457dacb48f9c-fb199f06" href="#" class="button-nav form w-button">x</a>
                  <form id="email" name="email-form" method="post" class="form w-node-457dacb48f9e-fb199f06">
                    <div>Please enter the name of this season to delete it. <br>This action is irreversible.</div><label for="season-name-4" class="field-label _1">Season name</label><input type="text" class="input-form w-input" autofocus="true" maxlength="256" name="season-name-3" placeholder="Enter the season name" id="season-name-3" required=""><input type="submit" value="Delete Season" class="submit-button-3 login delete w-button"></form>
                  <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                  </div>
                  <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="seasons-container">
      <div class="header-seasons">
        <div id="w-node-46b9a04126fb-fb199f06" class="child-heading header">Name</div>
        <div id="w-node-5c1cfd4fa770-fb199f06" class="child-heading header">Description</div>
        <div id="w-node-4eac42ed80d2-fb199f06" class="child-heading header">Creation date</div>
        <div id="w-node-6aa0e93e5da9-fb199f06" class="child-heading header">Status</div>
      </div>
      <div class="content-seasons">
        <div class="line"><a id="w-node-11dbb2036dcf-fb199f06" href="#" class="child-heading content">Season 2020/2021</a><a id="w-node-11dbb2036dd1-fb199f06" href="#" class="child-heading content">S2021sdasdas Max: 20 characters</a><a id="w-node-11dbb2036dd3-fb199f06" href="#" class="child-heading content">2020-06-26</a><a id="w-node-cd19a4894d12-fb199f06" href="#" class="child-heading content">ongoing</a></div>
        <div class="line"><a id="w-node-de6c730fe17a-fb199f06" href="#" class="child-heading content">Season 2019/2020</a><a id="w-node-de6c730fe17c-fb199f06" href="#" class="child-heading content">S2021sdasdas Max: 20 characters</a><a id="w-node-de6c730fe17e-fb199f06" href="#" class="child-heading content">2020-05-05</a><a id="w-node-de6c730fe180-fb199f06" href="#" class="child-heading content">Finished</a></div>
        <div class="line"><a id="w-node-20ae17226266-fb199f06" href="#" class="child-heading content">Season 2018/2019</a><a id="w-node-20ae17226268-fb199f06" href="#" class="child-heading content">S2021sdasdas Max: 20 characters</a><a id="w-node-20ae1722626a-fb199f06" href="#" class="child-heading content">2020-04-18</a><a id="w-node-20ae1722626c-fb199f06" href="#" class="child-heading content">Finished</a></div>
        <div class="line"><a id="w-node-68201c067c42-fb199f06" href="#" class="child-heading content">Season 2017/2018</a><a id="w-node-68201c067c44-fb199f06" href="#" class="child-heading content">S2021sdasdas Max: 20 characters</a><a id="w-node-68201c067c46-fb199f06" href="#" class="child-heading content">2020-03-06</a><a id="w-node-68201c067c48-fb199f06" href="#" class="child-heading content">Finished</a></div>
        <div class="see-more w-container"><a href="#" class="child-heading content see-more">Click to view more</a><a href="#" class="button-nav startnow delete w-button">Delete Season</a>
          <div style="display:none" class="create-container _1">
            <div class="wrapper">
              <div class="form-block w-form"><a id="w-node-d62f65bc598b-fb199f06" href="#" class="button-nav form w-button">x</a>
                <form id="email" name="email-form" method="post" class="form w-node-d62f65bc598d-fb199f06">
                  <div>Please enter the name of this season to delete it. <br>This action is irreversible.</div><label for="season-name-3" class="field-label _1">Season name</label><input type="text" class="input-form w-input" autofocus="true" maxlength="256" name="season-name-3" placeholder="Enter the season name" id="season-name-3" required=""><input type="submit" value="Delete Season" class="submit-button-3 login delete w-button"></form>
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="navbar-phone">
    <nav id="nav" class="navigation navigationbar-dashboard phone w-node-6453b40bebf2-b40bebf2">
      <ul role="list" class="navigationbar-dashboard-container phone w-list-unstyled">
        <li id="w-node-6453b40bebf6-b40bebf2" class="list-item"><a href="#" class="navsymbol logo">Night event</a></li>
        <li class="list-item-3"><a href="#" class="navsymbol phone">☰<br></a>
          <div class="navtext">
            <div class="text-block nav">Dashboard</div>
          </div>
        </li>
        <li><a href="#" class="navsymbol phone">✎<br></a>
          <div class="navtext">
            <div class="text-block nav">Seasons</div>
          </div>
        </li>
        <li><a href="#" class="navsymbol phone">✚<br></a>
          <div class="navtext">
            <div class="text-block nav">Create</div>
          </div>
        </li>
        <li><a href="#" class="navsymbol phone">☸<br></a>
          <div class="navtext">
            <div class="text-block nav">Settings</div>
          </div>
        </li>
        <li class="list-item-2 last"><a href="#" class="navsymbol phone">➤<br></a>
          <div class="navtext">
            <div class="text-block nav">Logout</div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
  
<%- include('../base/footer'); -%>