<%- include('base/header'); -%>

<title>Error 404 not found</title>
</head>

<body class="body-2">
  <div id="w-node-291baa80efac-e9f5299b">
    <header id="nav" class="navigationbar w-node-1e5286aef8ea-86aef8ea">
      <nav class="navigationbar-container w-container">
        <ul role="list" class="navigationbar-grid w-list-unstyled">
          <li id="w-node-1e5286aef8ed-86aef8ea">
            <a href="/" class="brand-link w-nav-brand">
              <h3 id="site-title" class="site-title">Night Event</h3>
            </a>
          </li>
          <li id="w-node-1e5286aef8f1-86aef8ea"><a href="#" class="link invisible"></a></li>
          <li id="w-node-1e5286aef8f3-86aef8ea"><a href="/login" class="link">Login</a></li>
          <li id="w-node-1e5286aef8f6-86aef8ea"><a href="#" class="link">Pricing</a></li>
          <li id="w-node-1e5286aef8f9-86aef8ea"><a href="#" class="link">App</a></li>
          <li id="w-node-1e5286aef8fc-86aef8ea"><a href="#" class="link">About</a></li>
          <li id="w-node-1e5286aef8ff-86aef8ea"><a href="/register" class="button-nav startnow w-button">Start now</a></li>
        </ul>
      </nav>
    </header>
    <div class="dropdown-wrapper">
      <div class="navigationbar-phone">
        <a href="/" id="w-node-8f5c8b51bed3-e9f5299b" class="brand-link w-nav-brand">
          <h3 id="site-title" class="site-title">Night Event</h3>
        </a>
        <div id="w-node-8f5c8b51bed6-e9f5299b" class="dropdown w-dropdown">
          <div class="dropdown-toggle w-dropdown-toggle">
            <div class="icon-3 w-icon-dropdown-toggle"></div>
            <div>Menu</div>
          </div>
          <nav class="dropdown-list w-dropdown-list"><a href="#" class="dropdown-link w-dropdown-link">Login</a><a href="#" class="w-dropdown-link">Pricing</a><a href="#" class="w-dropdown-link">App</a><a href="#" class="w-dropdown-link">About</a></nav>
        </div>
      </div>
    </div>
  </div>
  <div id="w-node-dea685ae6715-e9f5299b">
    <div class="idk-anymore">
      <div class="utility-page-content w-form">
        <h1 class="heading-5">Night Event<br></h1>
        <h5 class="heading-6">Error 404</h5>

        <% if (message) { %>

          <div><%= message %></div>
        
        <% } else { %>
        
          <div>This page doesnt exists</div>
         
        <% } %>

        <div class="text-block-3">¯_(ツ)_/¯</div>

      </div>
    </div>
    
    <footer id="footer" class="footer w-node-a898e53a1bca-e53a1bca">
      <div class="footer-container w-container">
        <div class="footer-flex">
          <div>
            <h3 class="footer-heading">Company</h3>
            <ul role="list" class="w-list-unstyled">
              <li><a href="#" class="footer-link">Contact</a></li>
              <li><a href="#" class="footer-link">About</a><a href="#" class="footer-link">News</a></li>
            </ul>
          </div>
          <div>
            <h3 class="footer-heading">Legal</h3>
            <ul role="list" class="w-list-unstyled">
              <li><a href="#" class="footer-link">Terms &amp; privacy</a></li>
            </ul>
          </div>
          <div>
            <h3 class="footer-heading">Ressources</h3>
            <ul role="list" class="w-list-unstyled">
              <li><a href="#" class="footer-link">Support</a></li>
              <li><a href="#" class="footer-link">Sitemap</a></li>
            </ul><a href="#" class="footer-link">Create</a><a href="#" class="footer-link">Expand</a><a href="#" class="footer-link">Share</a></div>
        </div>
        <div class="copyright-text">Copyright © 2020 Night Event Company. All rights reserved.<br></div>
      </div>
    </footer>
  </div>
</body>

<%- include('base/footer'); -%>
