<%- include('base/header'); -%>

<title>Night Event</title>
</head>

<body class="body-container">

  <header id="nav" class="navigationbar w-node-1e5286aef8ea-86aef8ea">
    <nav class="navigationbar-container w-container">
      <ul role="list" class="navigationbar-grid w-list-unstyled">
        <li id="w-node-1e5286aef8ed-86aef8ea">
          <a href="/" aria-current="page" class="brand-link w-nav-brand w--current">
            <h3 id="site-title" class="site-title">Night Event</h3>
          </a>
        </li>
        <li id="w-node-1e5286aef8f1-86aef8ea"><a href="#" class="link invisible"></a></li>
        <li id="w-node-1e5286aef8f3-86aef8ea"><a href="/login" class="link">Login</a></li>
        <li id="w-node-1e5286aef8f6-86aef8ea"><a href="#" class="link">Pricing</a></li>
        <li id="w-node-1e5286aef8f9-86aef8ea"><a href="#" class="link">App</a></li>
        <li id="w-node-1e5286aef8fc-86aef8ea"><a href="#" class="link">About</a></li>
        <li id="w-node-1e5286aef8ff-86aef8ea"><a href="/register" class="button-nav startnow w-button">Start now</a>
        </li>
      </ul>
    </nav>
  </header>

  <header id="w-node-6e330ee66f7f-e33752f3" class="dropdown-wrapper">
    <div class="navigationbar-phone">
      <a href="/" id="w-node-0b6c13fb8e66-e33752f3" aria-current="page"
        class="brand-link w-nav-brand w--current">
        <h3 id="site-title" class="site-title">Night Event</h3>
      </a>
      <div id="w-node-b52327304952-e33752f3" class="dropdown w-dropdown">
        <div class="dropdown-toggle w-dropdown-toggle">
          <div class="icon-3 w-icon-dropdown-toggle"></div>
          <div>Menu</div>
        </div>
        <nav class="dropdown-list w-dropdown-list"><a href="#" class="dropdown-link w-dropdown-link">Login</a><a
            href="#" class="w-dropdown-link">Pricing</a><a href="#" class="w-dropdown-link">App</a><a href="#"
            class="w-dropdown-link">About</a></nav>
      </div>
    </div>
  </header>

  <main id="w-node-e469c74534ed-e33752f3" class="body-container">

    <section id="w-node-d274b7c1b760-e33752f3" class="headline w-container">
      <h1 id="headline" class="heading">Create &amp; Sell tickets. Receive funds with money or crypto. </h1>
      <h2 id="subline" class="subhead">Next generation platform to create, sell, manage and getting insights about your events.
      </h2><a href="/register"
        class="button startnow w-button">Start now</a>
    </section>

    <section id="feature-section" class="feature-section first w-node-5096f8345178-e33752f3">
      <div class="feature-container w-container">
        <div class="feature-text-container">
          <h2 class="perksheading">Create</h2>
          <p>Night Event can be used by anyone who wishes to create events. Get started quickly, for free and focus on
            what matters. Create an event by entering information such as the ticket price, the place and a few other
            information. <br><br>You can also create events using a seating plan (created beforehand) to give different
            seats different prices. <br></p><a href="#" class="link insideperks">Learn more</a>
        </div><a href="#" class="button startnow insideperks w-button">Learn more</a>
      </div>
    </section>

    <section id="feature-section" class="feature-section mid">
      <div class="feature-container w-container">
        <div class="feature-text-container">
          <h2 class="perksheading">Share</h2>
          <p>Once you&#x27;ve created your event, you will be provided with a link (or a QR code) that you can link
            through your website or any solution media platform you use. As an example, you can use a button to redirect
            customers into buying your tickets.<br><br>Customers will then be redirected to a checkout and enter the
            necessary details.<br></p><a href="#" class="link insideperks">Learn more</a>
        </div>
      </div>
    </section>

    <section id="feature-section" class="feature-section third">
      <div class="feature-container w-container">
        <div class="feature-text-container">
          <h2 class="perksheading">Expand</h2>
          <p>Receive fast payments to your <strong>PayPal </strong>or <strong>Stripe </strong>account. <a href="#">We
              keep a fee of xx% per ticket sold</a>. <strong>Interac </strong>is also available for organizations within
            Canada (still in development).<br><br>Validate tickets in real time with the use of our free <a
              href="#">app</a>.</p><a href="#" class="link insideperks">Learn more</a>
        </div>
      </div>
    </section>

    <section id="feature-section" class="feature-section third">
      <div class="feature-container w-container">
        <div class="feature-text-container">
          <h2 class="perksheading">Mange</h2>
          <p>Real time insights about how your customers behave. Look up total sales, and multiple other analytics
            within your dashboard.</p><a href="#" class="link insideperks">Learn more</a>
        </div>
      </div>
    </section>

    <section id="call-to-action" class="call-to-action start">
      <div class="call-to-action-container w-container">
        <h2 class="perksheading start">Ready to start?</h2>
        <p>Start using Night Event for free. Every thing you need to manage events start here.</p><a
          href="/register" class="button startnow w-button">Start now</a>
      </div>
    </section>

    <section id="call-to-action" class="call-to-action email">
      <div class="call-to-action-container w-container">
        <h2 class="heading-3 perksheading calltoaction">Don&#x27;t miss anything</h2>
        <p>Subscribe to our mail list &amp; receive new updates</p>
        <div class="w-form">

          <form id="wf-form-Email-Form" name="wf-form-Email-Form" accept-charset="utf-8" method="POST" action="/" class="subscribe-fuckoff-container">
            
            <div class="subscribe-form-input-wrapper">
              <label for="email-subscriber" id="subscribe-email">Email</label>
              <input type="email" class="subscribe-form-input w-input" minlength="1" maxlength="256" name="email-subscriber" placeholder="Enter your email"
                id="email-subscriber" required>
            </div>

            <input type="submit" value="Subscribe" class="submit-button w-button">
          
          </form>

          <% if (message) { %>

          <div class="w-form-done" id="1">
            <div><%= message %> </div>
          </div>

          <% } %>

        </div>
      </div>
    </section>

  </main>

  <footer id="footer" class="footer w-node-a898e53a1bca-e53a1bca">
    <div class="footer-container w-container">
      <div class="footer-flex">
        <div>
          <h3 class="footer-heading">Company</h3>
          <ul role="list" class="w-list-unstyled">
            <li><a href="#" class="footer-link">Contact</a></li>
            <li><a href="#" class="footer-link">About</a><a href="#" class="footer-link">News</a></li>
          </ul>
        </div>
        <div>
          <h3 class="footer-heading">Legal</h3>
          <ul role="list" class="w-list-unstyled">
            <li><a href="#" class="footer-link">Terms &amp; privacy</a></li>
          </ul>
        </div>
        <div>
          <h3 class="footer-heading">Ressources</h3>
          <ul role="list" class="w-list-unstyled">
            <li><a href="#" class="footer-link">Support</a></li>
            <li><a href="#" class="footer-link">Sitemap</a></li>
          </ul><a href="#" class="footer-link">Create</a><a href="#" class="footer-link">Expand</a><a href="#"
            class="footer-link">Share</a>
        </div>
      </div>
      <div class="copyright-text">Copyright © 2020 Night Event Company. All rights reserved.<br></div>
    </div>
  </footer>
</body>

<%- include('base/footer'); -%>