<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Error 404 not found</title>
</head>
<body>
    
<main>

    <header>
        <ul>
            <li><a href="#">Event Ground</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">About</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="#">App</a></li>
        </ul>
    </header>

    <section class="text">
            <h1 style="margin-top: 0;">Event Ground</h1>
            <h2>Error, 404.</h2>
            <% if (message) { %>
                <h4 class="error"><%= message %></h4>
            <% } %>
    </section>

</main>

</body>
</html>