<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/register.css">
    <script src="js/register.js"></script>
    <title>Recover password - Event Ground</title>
</head>

<body>

    <main>

        <header>
            <ul>
                <li><a href="#">Event Ground</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="#">App</a></li>
            </ul>
        </header>

        <section class="text">
            <h1 style="margin-top: 0;">Event Ground</h1>
            <h2>Recover password</h2>
        </section>

        <section class="form">
            <form action="/2/" method="POST" accept-charset="utf-8">


                <div class="part-one" id="part-one">

                    <label>
                        <input name="password" type="password" placeholder="Enter your new password.." required
                        autocomplete="off" minlength="8" maxlength="32" autofocus>
                    </label>

                    <button type="submit">Submit</button>

                </div>

                

            </form>

        </section>

    </main>

</body>

</html>