<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/register.css">
    <script src="js/register.js"></script>
    <title>Recover password - Event Ground</title>
</head>

<body>

    <main>

        <header>
            <ul>
                <li><a href="#">Event Ground</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="#">App</a></li>
            </ul>
        </header>

        <section class="text">
            <h1 style="margin-top: 0;">Event Ground</h1>
            <h2>Recover password</h2>
            <% if (message) { %>
                <h5 class="error"><%= message %></h5>
            <% } %>
            <!-- error, wrong email or/and password. -->
        </section>

        <section class="form">
            <form action="/recover" method="POST" accept-charset="utf-8">

                <!-- <div class="part-one" id="part-one">

                    <label>
                        <input name="fname" type="text" placeholder="Enter your firstname" required autofocus>
                    </label>

                    <label>
                        <input name="lname" type="text" placeholder="Enter your lastname" required>
                    </label>

                    <label>
                        <input name="orgname" type="text" placeholder="Enter your organisation name" required>
                    </label>

                    <button onclick="nextStep();">Next</button>
                </div> -->

                <div class="part-one" id="part-one">

                    <label>
                        <input name="email" type="email" placeholder="Enter your email" required autofocus>
                    </label>

                    <button type="submit">Submit</button>

                </div>

                

            </form>

        </section>

    </main>

</body>

</html>