<%- include('../base/header'); -%>

<title>Login - Night Event</title>
</head>

<body class="body">

  <header id="w-node-2df12cbc95d3-64b21577" class="dropdown-wrapper">
    <div class="navigationbar-phone">
      <a href="/" id="w-node-2df12cbc95d5-64b21577" class="brand-link w-nav-brand">
        <h3 id="site-title" class="site-title">Night Event</h3>
      </a>
      <div id="w-node-2df12cbc95d8-64b21577" class="dropdown w-dropdown">
        <div class="dropdown-toggle w-dropdown-toggle">
          <div class="icon-3 w-icon-dropdown-toggle"></div>
          <div>Menu</div>
        </div>
        <nav class="dropdown-list w-dropdown-list"><a href="#" class="dropdown-link w-dropdown-link">Login</a><a
            href="#" class="w-dropdown-link">Pricing</a><a href="#" class="w-dropdown-link">App</a><a href="#"
            class="w-dropdown-link">About</a></nav>
      </div>
    </div>
  </header>

  <header id="w-node-81a1c0b3e23d-64b21577" class="navdiv">
    <header id="nav" class="navigationbar w-node-1e5286aef8ea-86aef8ea">
      <nav class="navigationbar-container w-container">
        <ul role="list" class="navigationbar-grid w-list-unstyled">
          <li id="w-node-1e5286aef8ed-86aef8ea">
            <a href="/" class="brand-link w-nav-brand">
              <h3 id="site-title" class="site-title">Night Event</h3>
            </a>
          </li>
          <li id="w-node-1e5286aef8f1-86aef8ea"><a href="#" class="link invisible"></a></li>
          <li id="w-node-1e5286aef8f3-86aef8ea"><a href="/login" aria-current="page"
              class="link w--current">Login</a></li>
          <li id="w-node-1e5286aef8f6-86aef8ea"><a href="#" class="link">Pricing</a></li>
          <li id="w-node-1e5286aef8f9-86aef8ea"><a href="#" class="link">App</a></li>
          <li id="w-node-1e5286aef8fc-86aef8ea"><a href="#" class="link">About</a></li>
          <li id="w-node-1e5286aef8ff-86aef8ea"><a href="/register" class="button-nav startnow w-button">Start
              now</a></li>
        </ul>
      </nav>
    </header>
  </header>

  <main id="w-node-03286f8dbe7e-64b21577" class="navmain">

    <section id="login-section" class="feature-section first">
      
      <div class="feature-container w-container">
        <div class="feature-text-container">
          <h1 class="perksheading form">Login</h1>
          <div class="w-form">
            <form id="email" name="email-form" method="post" class="form-2">
              <label for="email-3" class="field-label">Email</label>
                <input type="email" class="text-field-3 w-input"
                maxlength="256" name="email" placeholder="Enter your email" id="email-3"
                required autofocus>
                <label for="password" class="field-label-2">Password</label>
                <input type="password" class="text-field-4 w-input" minlength="8" maxlength="32" name="password"
                placeholder="Enter your password" id="password" required>
                <input type="submit" value="Login" class="submit-button-2 login w-button">
              </form>

            <% if (message) { %>
         
            <div class="w-form-done">
                <div><%= message %></div>
            </div>

            <% } %>
            
          </div>
          <a href="/recover" class="terms">Forgot password? Click here.</a>

        </div>
      </div>

    </section>

    <footer id="footer" class="footer w-node-a898e53a1bca-e53a1bca">
      <div class="footer-container w-container">
        <div class="footer-flex">
          <div>
            <h3 class="footer-heading">Company</h3>
            <ul role="list" class="w-list-unstyled">
              <li><a href="#" class="footer-link">Contact</a></li>
              <li><a href="#" class="footer-link">About</a><a href="#" class="footer-link">News</a></li>
            </ul>
          </div>
          <div>
            <h3 class="footer-heading">Legal</h3>
            <ul role="list" class="w-list-unstyled">
              <li><a href="#" class="footer-link">Terms &amp; privacy</a></li>
            </ul>
          </div>
          <div>
            <h3 class="footer-heading">Ressources</h3>
            <ul role="list" class="w-list-unstyled">
              <li><a href="#" class="footer-link">Support</a></li>
              <li><a href="#" class="footer-link">Sitemap</a></li>
            </ul><a href="#" class="footer-link">Create</a><a href="#" class="footer-link">Expand</a><a href="#"
              class="footer-link">Share</a>
          </div>
        </div>
        <div class="copyright-text">Copyright © 2020 Night Event Company. All rights reserved.<br></div>
      </div>
    </footer>

  </main>

</body>

<%- include('../base/footer'); -%>